<div id="<%= dom_id requirement %>" class="w-full sm:w-auto space-y-5">
  <div>
    <p class="text-gray-800"><%= requirement.content %></p>
  </div>
  <div>
    <% if requirement.ethic? %>
      <span class="px-2 py-1 border-2 border-green-300 rounded-full text-sm text-gray-800">
        IS ETHIC
      </span>
    <% else %>
      <span class="px-2 py-1 border-2 border-red-300 rounded-full text-sm text-gray-800">
        IS NOT ETHIC
      </span>
    <% end %>
  </div>
  <% if requirement.erc4ai_classes.present? %>
    <div>
      <strong class="block font-medium mb-1">Classes:</strong>

      <div class="flex flex-wrap gap-2">
        <% requirement.erc4ai_classes.each do |erc4ai_class| %>
          <span class="px-2 py-1 border-2 border-gray-300 rounded-full text-sm text-gray-800">
            <%= erc4ai_class %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="text-gray-500 text-sm text-right">
    Created <%= time_ago_in_words(requirement.created_at) %> ago
  </div>
</div>
