<div id="<%= dom_id requirement %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= requirement.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ethic:</strong>
    <%= requirement.ethic? ? "Yes" : "No" %>
  </div>
</div>
